<div class="container my-5">
  <h4 class="rounded-background">Réservez votre <%= @car.brand %></h1>
  <div class="d-flex justify-content-evenly">
    <%# Liste des attributs d'l'offre %>
    <div class="card mb-5 mt-2">
     <div class="card-body">
        <h2>Détails de la voiture</h2>
        <br>
        <p><strong>Marque :</strong> <%= @car.brand %></p>
        <p><strong>Modèle :</strong> <%= @car.model %></p>
        <p><strong>Année de production :</strong> <%= @car.year_of_production %></p>
        <p><strong>Lieu :</strong> <%= @car.address %></p>
        <p><strong>Prix :</strong> <strong><%= @car.price_per_day %>€</strong>/jour</p>
      </div>
    </div>
    <%# Liste des attributs de l'entreprise liée à l'offre %>
    <div class="card mb-5 mt-2">
      <div class="card-body">
        <img src="<%= @car.banner %>" style="max-width: 100%; max-height: 300px;" />
      </div>
    </div>
  </div>
  <%# Lien vers l'index des candidatures lié à l'offre %>
  <%# Liste des candidatures lié à l'offre %>

<div class="container my-5">
  <div class="card mb-5 mt-2">
    <div class="card-body">
      <h2>Réserver cette voiture</h2>
      <br>
    <%= form_for @booking do |f| %>
      <strong class="error-message"><%= f.object.errors[:starts_at].join(", ") if f.object.errors[:starts_at].any? %></strong>
      <div class="col time-slot-inputs">
        <label for="booking_starts_at">Date de début :</label>
        <%= f.date_field :starts_at, as: :string, class: 'datepicker-input', input_html: { data: { controller: 'datepicker' } } %>
      </div>
      <div class="col time-slot-inputs">
        <label for="booking_ends_at">Date de fin :</label>
        <%= f.date_field :ends_at, as: :string, class: 'datepicker-input', input_html: { data: { controller: 'datepicker' } } %>
      </div>
      <%= f.hidden_field :car_id, value: @car.id %>
      <%= f.submit "Réserver", class: "btn btn-primary submit-button text-white" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container my-5 text-center">
  <div class="card mb-5 mt-2">
    <div class="card-body">
      <a href="/cars" class="btn btn-primary ">Revenir à la liste des voitures</a>
    </div>
  </div>
</div>

<div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
</div>


  <!-- Map -->
